<!--
    4 agosto
-->
<div class="row custom-row">
<div class="container">
    <div class="row custom-row">
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>
        <div class="col-md-1 custom-col">.col-md-1</div>

    </div>
    <div class="row custom-row">
        <div class="col-md-8 custom-col">.col-md-8</div>
        <div class="col-md-4 custom-col">.col-md-4</div>

    </div>
    <div class="row custom-row">
         <div class="col-md-4 custom-col">.col-md-4</div>
         <div class="col-md-4 custom-col">.col-md-4</div>
         <div class="col-md-4 custom-col">.col-md-4</div>
    </div>
    <div class="row custom-row">
        <div class="col-md-6 custom-col">.col-md-6</div>
        <div class="col-md-6 custom-col">.col-md-6</div>
    </div>
   
    
</div>