// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com   

.custom-col{
    background-color: lightgray;
    font-size: 12px;
    border: 1px solid black;
}
.custom-row{
    margin: 10px 0;
}